Yeremenko_HW1/.vs/
Yeremenko_HW1/Yeremenko_HW1/bin/
Yeremenko_HW1/Yeremenko_HW1/obj/
Yeremenko_HW2/.vs/
Yeremenko_HW2/Yeremenko_HW2/bin/
Yeremenko_HW2/Yeremenko_HW2/obj/
Yeremenko_HW2/Yeremenko_HW2/Pages/
Yeremenko_HW2/Yeremenko_HW2/wwwroot/
Yeremenko_HW3/.vs/
Yeremenko_HW3/Yeremenko_HW3/bin/
Yeremenko_HW3/Yeremenko_HW3/obj/
Yeremenko_HW4/.vs/
Yeremenko_HW4/Yeremenko_HW4/bin/
Yeremenko_HW4/Yeremenko_HW4/obj/
Yeremenko_HW4/Yeremenko_HW4/wwwroot/lib/
