@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<body style="background-color: #537759; background-image: url(images/background.jpg); background-size: 100%;">
<div class="text-center">
    <h2 class="display-4">Nice to meet you</h2>
    <p>My name is Nataliia. I was born in Mariupol. I graduated from Kharkiv National Aerospace University. </p>
    <p>I'm married. I have two sons. Currently I live in Poland.</p>
</div>
</body>