@{
    ViewData["Title"] = "Home Page";
}
<body style="background-image:url('/images/background.jpg'); background-size:100%">
<div class="text-center">
    <h1 style="color:white; font-weight: 700; font-size: 72px;  margin: 60px auto 0;">Design Services</h1>
    <p style="color:white; width: 760px;  margin: 30px auto 0;">
        Simple Text. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur id suscipit ex. Suspendisse rhoncus laoreet purus quis elementum.
    </p>
    <div style="width: 428px; min-height: 80px; height: auto; margin: 32px auto 0;">
          <div style="position: absolute;">
            <a href="" style="
                  color: black; 
                  background-color: white;      
                  border-style: solid;
                  border-radius: 40px;
                  border-color: #ffffff;
                  stroke: #ffffff;
                  font-weight: 700;
                  letter-spacing: 1px;
                  font-size: 18px;
                  text-transform: none;
                  text-decoration: none;
                  align-self: center;
                  background-image: none;
                  margin: 0 auto 0 15px;
                  margin-top: 20px;
                  margin-bottom: 20px;
                  padding: 14px 45px 15px 44px;">About Us</a>
            <a href="" style="
                  color: white; 
                  background-color: none;      
                  border-style: solid;
                  border-radius: 40px;
                  border-color: #ffffff;
                  stroke: #ffffff;
                  font-weight: 700;
                  letter-spacing: 1px;
                  font-size: 18px;
                  text-decoration: none;
                  text-transform: none;
                  align-self: center;
                  background-image: none;
                  margin: 0 auto 0 15px;
                  margin-top: 20px;
                  margin-bottom: 20px;
                  padding: 14px 45px 15px 44px;">Our Works<br>
            </a>
          </div>
        </div> 
        <table width="100%">
            <tr>
                <td style="width:25%">
                    <div style="color: black; 
                           background-color: white;      
                           border-style: solid;
                           border-radius: 40px;
                           border-color: #ffffff;
                           height: 250px;
                           width: 250px;">
                       <img src="/images/simple.png" style="margin-top:70px;"/>
                       <h4 style="text-transform: uppercase; margin-top-50px;">Simple</h4>
                    </div>
                </td>
                <td width="25%" align="center">
                    <div style="color: black; 
                          background-color: white;      
                          border-style: solid;
                          border-radius: 40px;
                          border-color: #ffffff;
                          height: 250px;
                          width: 250px;">
                       <img src="/images/nocoding.png" style="margin-top:70px;"/>
                       <h4 style="text-transform: uppercase; margin-top-50px;">No Coding</h4>
                    </div>
                </td>
                <td width="25%" align="center">
                    <div style="color: black; 
                          background-color: white;      
                          border-style: solid;
                          border-radius: 40px;
                          border-color: #ffffff;
                          height: 250px;
                          width: 250px;">
                       <img src="/images/500sites.png" style="margin-top:70px;"/>
                       <h4 style="text-transform: uppercase; margin-top-50px;">500+ Sites</h4>
                    </div>
                </td>
                <td width="25%" align="center">
                    <div style="color: black; 
                          background-color: white;      
                          border-style: solid;
                          border-radius: 40px;
                          border-color: #ffffff;
                          height: 250px;
                          width: 250px;">
                       <img src="/images/gifts.png" style="margin-top:70px;"/>
                       <h4 style="text-transform: uppercase; margin-top-50px;">Gifts</h4>
                    </div>
                </td>
            </tr>
        </table>
</div>
</body>